<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>emojiName</key>
		<string>s_3</string>
		<key>emojiDesc</key>
		<string>s_3</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_4</string>
		<key>emojiDesc</key>
		<string>s_4</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_5</string>
		<key>emojiDesc</key>
		<string>s_5</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_6</string>
		<key>emojiDesc</key>
		<string>s_6</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_7</string>
		<key>emojiDesc</key>
		<string>s_7</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_8</string>
		<key>emojiDesc</key>
		<string>s_8</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_9</string>
		<key>emojiDesc</key>
		<string>s_9</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_10</string>
		<key>emojiDesc</key>
		<string>s_10</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_11</string>
		<key>emojiDesc</key>
		<string>s_11</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_12</string>
		<key>emojiDesc</key>
		<string>s_12</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_13</string>
		<key>emojiDesc</key>
		<string>s_13</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_14</string>
		<key>emojiDesc</key>
		<string>s_14</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_15</string>
		<key>emojiDesc</key>
		<string>s_15</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_16</string>
		<key>emojiDesc</key>
		<string>s_16</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_17</string>
		<key>emojiDesc</key>
		<string>s_17</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_18</string>
		<key>emojiDesc</key>
		<string>s_18</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_19</string>
		<key>emojiDesc</key>
		<string>s_19</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_20</string>
		<key>emojiDesc</key>
		<string>s_20</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_21</string>
		<key>emojiDesc</key>
		<string>s_21</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_22</string>
		<key>emojiDesc</key>
		<string>s_22</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_23</string>
		<key>emojiDesc</key>
		<string>s_23</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_24</string>
		<key>emojiDesc</key>
		<string>s_24</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_25</string>
		<key>emojiDesc</key>
		<string>s_25</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_26</string>
		<key>emojiDesc</key>
		<string>s_26</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_27</string>
		<key>emojiDesc</key>
		<string>s_27</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_28</string>
		<key>emojiDesc</key>
		<string>s_29</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_30</string>
		<key>emojiDesc</key>
		<string>s_30</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_31</string>
		<key>emojiDesc</key>
		<string>s_31</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_32</string>
		<key>emojiDesc</key>
		<string>s_32</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_33</string>
		<key>emojiDesc</key>
		<string>s_33</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_34</string>
		<key>emojiDesc</key>
		<string>s_34</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_35</string>
		<key>emojiDesc</key>
		<string>s_35</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_36</string>
		<key>emojiDesc</key>
		<string>s_36</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_37</string>
		<key>emojiDesc</key>
		<string>s_37</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_38</string>
		<key>emojiDesc</key>
		<string>s_38</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_39</string>
		<key>emojiDesc</key>
		<string>s_39</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_40</string>
		<key>emojiDesc</key>
		<string>s_40</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_41</string>
		<key>emojiDesc</key>
		<string>s_41</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_42</string>
		<key>emojiDesc</key>
		<string>s_42</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_43</string>
		<key>emojiDesc</key>
		<string>s_43</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_44</string>
		<key>emojiDesc</key>
		<string>s_44</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_45</string>
		<key>emojiDesc</key>
		<string>s_45</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_46</string>
		<key>emojiDesc</key>
		<string>s_46</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_47</string>
		<key>emojiDesc</key>
		<string>s_47</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_44</string>
		<key>emojiDesc</key>
		<string>s_44</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_45</string>
		<key>emojiDesc</key>
		<string>s_45</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_46</string>
		<key>emojiDesc</key>
		<string>s_46</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_47</string>
		<key>emojiDesc</key>
		<string>s_47</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_48</string>
		<key>emojiDesc</key>
		<string>s_48</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_49</string>
		<key>emojiDesc</key>
		<string>s_49</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_50</string>
		<key>emojiDesc</key>
		<string>s_50</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_51</string>
		<key>emojiDesc</key>
		<string>s_51</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_52</string>
		<key>emojiDesc</key>
		<string>s_52</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_53</string>
		<key>emojiDesc</key>
		<string>s_53</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_54</string>
		<key>emojiDesc</key>
		<string>s_54</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_55</string>
		<key>emojiDesc</key>
		<string>s_55</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_56</string>
		<key>emojiDesc</key>
		<string>s_56</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_57</string>
		<key>emojiDesc</key>
		<string>s_57</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_58</string>
		<key>emojiDesc</key>
		<string>s_58</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_59</string>
		<key>emojiDesc</key>
		<string>s_59</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_60</string>
		<key>emojiDesc</key>
		<string>s_60</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_61</string>
		<key>emojiDesc</key>
		<string>s_61</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_62</string>
		<key>emojiDesc</key>
		<string>s_62</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_63</string>
		<key>emojiDesc</key>
		<string>s_63</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_64</string>
		<key>emojiDesc</key>
		<string>s_64</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_65</string>
		<key>emojiDesc</key>
		<string>s_65</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_66</string>
		<key>emojiDesc</key>
		<string>s_66</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_67</string>
		<key>emojiDesc</key>
		<string>s_67</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_68</string>
		<key>emojiDesc</key>
		<string>s_68</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_69</string>
		<key>emojiDesc</key>
		<string>s_69</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_70</string>
		<key>emojiDesc</key>
		<string>s_70</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_71</string>
		<key>emojiDesc</key>
		<string>s_71</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_72</string>
		<key>emojiDesc</key>
		<string>s_72</string>
	</dict>
	<dict>
		<key>emojiName</key>
		<string>s_73</string>
		<key>emojiDesc</key>
		<string>s_73</string>
	</dict>
</array>
</plist>
